@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
/* basic */
* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

.btn:focus {
  box-shadow: none;
}

@media screen and (max-width: 1000px) {
  .container {
    column-gap: 10px;
  }
}
/* banner */
.banner {
  height: 787px;
  background-color: #de5d5d;
  overflow: hidden;
}
.banner__foreground {
  box-shadow: inset 0px -200px 500px #de5d5d;
}
.banner__foreground,
.banner__foreground * {
  pointer-events: none;
}
.banner__foreground .container {
  height: 100%;
  grid-template-rows: 1.1fr 1fr;
}
.banner__text {
  grid-column: 2/12;
}
.banner__text > div {
  font-size: 88px;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Montserrat";
  color: inherit;
  padding-right: 3px;
  transform: scaleX(0.98);
}
.banner__slider img {
  position: relative;
  transform: scale(1.251);
  padding-top: 233px;
  left: -8px;
}
.banner__slider .slick-dots {
  position: absolute;
  transform: translate(-50%);
  left: 50%;
  top: 67.6%;
  display: flex;
  z-index: 3;
  list-style: none;
}
.banner__slider .slick-dots button {
  margin: 3.7px;
  border: white 2px solid;
  border-radius: 50%;
  color: transparent;
  background: none;
  height: 12px;
  width: 12px;
}
.banner__slider .slick-dots .slick-active button {
  background-color: white;
}
.banner__cta {
  padding-top: 61px;
  padding-left: 12px;
  padding-right: 15px;
  grid-column: 4/10;
}
.banner__cta button {
  background: none;
  border: 2px solid white;
  color: black;
  width: 257px;
  height: 77px;
  font-size: 30.2px;
  padding-left: 18px;
  padding-right: 20px;
  border-radius: 5px;
  border-width: 3px !important;
  pointer-events: all;
  mix-blend-mode: lighten;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.banner__cta button:hover {
  background-color: white;
  color: black !important;
}
.banner__cta svg {
  width: 54px;
}
.banner__playstore > svg {
  margin-left: 3px;
  margin-top: 4px;
}

.phone-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.phone-container img {
  padding-top: 290px;
  width: 125.1%;
  padding-right: 11px;
}

@media screen and (max-width: 1120px) {
  .banner {
    width: 100%;
    aspect-ratio: 16/11;
    height: auto;
  }
  .banner__slider .slick-dots {
    top: 73%;
  }
  .banner__text {
    grid-column: 1/13;
  }
  .banner__text > div {
    font-size: 64px;
  }
  .banner__cta {
    flex-wrap: wrap;
    justify-content: space-evenly !important;
    grid-column: 1/13;
  }
  .banner__cta button {
    border-width: 2px !important;
    padding: 0 6px;
    height: 58px;
    width: 200px;
    font-size: 25px;
  }
  .banner__cta svg {
    height: 40px;
  }
}
@media screen and (max-width: 640px) {
  .banner__text > div {
    font-size: 44px;
  }
}
@media screen and (max-width: 570px) {
  .banner {
    aspect-ratio: 0;
    height: 392px;
  }
  .banner__text > div {
    font-size: 28px;
  }
  .banner__cta {
    padding-top: 21px;
    padding-bottom: 25px;
  }
  .banner__cta button {
    border: 2px white solid;
    height: 40px;
    font-size: 20px;
    width: 150px;
  }
  .banner__cta svg {
    margin-top: 1px;
    height: 30px;
    width: 35px;
  }
  .banner__slider {
    height: 100%;
  }
  .banner__slider img {
    transform: scale(2);
    padding-top: 0;
    margin: 0 50px;
  }
  .banner__slider .slick-list {
    padding-top: 110px;
  }
  .banner__slider .slick-dots {
    position: absolute;
    top: 90%;
  }
  .banner__background {
    height: 100%;
  }
}
/* why ama */
.why-ama {
  min-height: 695px;
}
.why-ama .container {
  grid-template-rows: 0fr 1fr;
}
.why-ama__title {
  font-size: 43px;
  font-weight: 600;
  letter-spacing: 2.4px;
  font-family: "Montserrat";
  color: default;
  grid-column: 1/-1;
  grid-row: 1;
  word-spacing: -1px;
  padding-left: 7px;
  line-height: 1.5;
  transform: scaleY(1.06);
}
.why-ama__why {
  padding-top: 10px;
  grid-row: 2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
}
.why-ama__why-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.why-ama__why-element h1 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: "Varela Round";
  color: default;
  padding-top: 38px;
  margin-bottom: 3px;
}
.why-ama__why-element span {
  width: 250px;
}
.why-ama__why-element_focus h1,
.why-ama__why-element_focus span {
  margin-right: 15px;
}

@media screen and (max-width: 989px) {
  .why-ama__title {
    padding-top: 50px;
    padding-bottom: 15px;
    font-size: 30px;
  }
  .why-ama__why {
    padding-top: 0;
  }
  .why-ama__why-element img {
    height: 150px;
  }
  .why-ama__why-element h1 {
    padding-top: 24px;
  }
  .why-ama__why-element span {
    width: 200px;
  }
  .why-ama__why-element_focus h1,
  .why-ama__why-element_focus span {
    margin-right: 0;
  }
}
/* share */
.share {
  height: 735px;
  background-color: #262626;
  overflow: hidden;
}
.share__phone-slider-wrapper {
  overflow: hidden;
  padding-right: 5rem;
  grid-column: span 6;
}
.share__content {
  grid-column: span 5/12;
  left: -2px;
  padding-bottom: 4rem;
}
.share__content h1 {
  font-size: 46.2px;
  font-weight: 600;
  letter-spacing: 0;
  font-family: "Montserrat";
  color: default;
  padding-bottom: 0.8rem;
}
.share__content h2 {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0;
  font-family: "Varela Round";
  color: #aeaeae;
  transform: scaleX(0.95);
  transform-origin: left;
  line-height: 1.4;
  margin-bottom: 0;
}
.share__slide {
  width: 472px;
  height: 100%;
}
.share__slide-wrapper {
  height: 96px;
}
.share__slide span {
  width: 269px;
  padding-right: 21px;
  transform: translateY(-4px);
  color: #aeaeae;
}
.share__video-button {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  font-family: "Varela Round";
  color: default;
  background-color: #de5d5d;
  width: 171px;
  font-size: 32px;
  padding: 0 0.7rem !important;
  margin: 1px;
  border-radius: 0.28rem;
}
.share__slider {
  position: relative;
}
.share__slider .slick-track {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.share__slider .slick-list {
  overflow: hidden;
}
.share__slider .slick-dots {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  position: absolute;
  list-style: none;
  top: 143%;
  left: 2px;
}
.share__slider .slick-dots li button {
  margin-right: 7px;
  border: white solid 2px;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  color: transparent;
  background: none;
}
.share__slider .slick-dots li.slick-active button {
  background-color: white;
}
.share__slider-wrapper {
  width: 472px;
}

@media screen and (max-width: 940px) {
  .share {
    height: auto;
  }
  .share__phone-slider-wrapper, .share__content {
    grid-column: 1/-1;
  }
  .share__phone-slider {
    max-width: 400px;
    padding: 0 70px;
    width: 100%;
    z-index: 1;
  }
  .share__phone-slider-wrapper {
    height: 300px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    z-index: 2;
  }
  .share__content {
    box-shadow: 0 -100px 50px #262626;
    position: inherit !important;
    z-index: 2;
  }
  .share__slider-wrapper {
    width: 572px;
  }
  .share__slider .slick-dots {
    transform: translate(-50%);
    left: 50%;
  }
  .share__slider .slick-dots li button {
    border-width: 1px;
  }
  .share__slide {
    width: 100%;
    padding: 0 10%;
  }
  .share__slide span {
    width: 50%;
  }
}
@media screen and (max-width: 595px) {
  .share__content h1 {
    font-size: 32px;
    padding-bottom: 0.6rem;
  }
  .share__content h2 {
    font-size: 16px;
    padding-bottom: 2rem !important;
  }
  .share__slider-wrapper {
    width: 340px;
  }
  .share__slide {
    padding: 0;
  }
  .share__slide span {
    padding: 0;
    width: 200px;
    font-size: 12px;
  }
  .share__slide-wrapper {
    height: auto;
  }
  .share__video-button {
    padding: 0 0.3rem !important;
    font-size: 16px;
    width: 120px;
  }
}
@media screen and (max-width: 420px) {
  .share__slider-wrapper {
    width: 300px !important;
  }
  .share__slide span {
    font-size: 11px;
    transform: none;
    width: 160px;
  }
}
/* features */
.features {
  height: 802px;
  background-color: #313131;
  overflow: hidden;
  padding-top: 3.95rem;
}
.features__content {
  grid-column: span 5/7;
}
.features__content h1 {
  padding-top: 6.3rem;
  font-size: 49px;
  font-weight: 600;
  letter-spacing: 0;
  font-family: "Montserrat";
  color: default;
  word-spacing: 1.9px;
  transform: translate(-2px) scaleX(0.97);
  transform-origin: left;
}
.features__content h2 {
  font-size: 18.4px;
  font-weight: 500;
  letter-spacing: 0;
  font-family: "Varela Round";
  color: #aeaeae;
  padding-top: 0.9rem;
  padding-left: 0.1rem;
  word-spacing: -1px;
  line-height: 1.45;
}
.features__slider {
  border-radius: 5px;
  background-color: white;
  height: 233px;
  overflow: hidden;
}
.features__slider .slick-track {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.features__slider .slick-dots {
  margin-top: 29px;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 14px;
  padding-bottom: 5px;
  padding-left: 35px;
  list-style: none;
  background-color: #f06464;
}
.features__slider .slick-dots button {
  margin-right: 8px;
  color: transparent;
  background: none;
  border: 2px white solid;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.features__slider .slick-dots .slick-active button {
  background-color: white;
}
.features__slider-wrapper {
  margin-top: 4.15rem;
  height: 233px;
  width: 471px;
  margin-left: 2px;
}
.features__phone {
  grid-column: span 6;
  padding-left: 1.72rem;
  padding-right: 1.38rem;
}
.features__phone-slider {
  overflow: hidden;
}
.features__phone-img {
  margin: 0 3rem;
  padding: 2rem 0;
  -webkit-filter: drop-shadow(0px 10px 25px black);
  filter: drop-shadow(0px 10px 25px black);
}
.features__slide img {
  padding-right: 26px;
}
.features__slide h3 {
  font-size: 19px;
  font-weight: 500;
  letter-spacing: 0.1px;
  font-family: "Varela Round";
  color: #cc5858;
  padding-top: 2px;
}
.features__slide span {
  color: #666666;
}
.features__slide-wrapper {
  padding-top: 0.45rem;
  padding-left: 1.95rem;
}

@media screen and (max-width: 1030px) {
  .features {
    height: 672px;
  }
  .features__phone {
    height: 400px;
    overflow: hidden;
  }
  .features__slider-wrapper {
    position: absolute;
    width: 95%;
    z-index: 5;
    box-shadow: 100px 39px 0 0 #313131;
  }
  .features__slider-wrapper::before {
    content: "";
    box-shadow: 100px -39px 30px 10px #313131;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .features__slider .slick-dots {
    margin-top: 52px;
  }
  .features__content {
    grid-column: span 6/7;
  }
  .features__phone-img {
    margin: 0 1rem;
    filter: drop-shadow(0px 5px 10px black);
  }
}
@media screen and (max-width: 930px) {
  .features {
    height: 613px;
  }
  .features__content h1 {
    font-size: 23px;
  }
  .features__content h2 {
    font-size: 12px;
    width: 310px;
  }
}
@media screen and (max-width: 550px) {
  .features {
    height: 351px;
    padding-top: 0.95rem;
  }
  .features__phone {
    padding: 0;
  }
  .features__slider {
    height: 93px;
  }
  .features__slider.pt-4 {
    padding-top: 1rem !important;
  }
  .features__slider-wrapper {
    height: auto;
    box-shadow: 100px 33px 0 0 #313131;
    margin-top: 1.15rem;
    width: 90%;
  }
  .features__content h1 {
    font-size: 16px;
    padding-top: 2.3rem;
  }
  .features__content h2 {
    width: 150px;
  }
  .features__slide img {
    padding-bottom: 0 !important;
    height: 60px;
    padding-right: 5px;
  }
  .features__slide h3 {
    font-size: 12px;
  }
  .features__slide span {
    font-size: 8px;
  }
  .features__slide-wrapper {
    height: 60px;
    width: 184px;
    padding: 0 1rem !important;
  }
}
/* taken */
.taken__title {
  grid-column: 2/-1;
  padding-top: 4.2rem;
}
.taken__title h1 {
  font-size: 49px;
  font-weight: 500;
  letter-spacing: 0;
  font-family: "Montserrat";
  color: #f06464;
  margin-left: -4px;
  transform: scaleX(0.963);
  transform-origin: left;
}
.taken__title h2 {
  font-size: 18px;
  padding-top: 0.8rem;
  word-spacing: 0.4px;
  line-height: 1.5;
  width: 470px;
}
.taken__photos {
  padding-top: 4.2rem;
  overflow: hidden;
}
.taken__photos .slick-track {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.taken__photo-container {
  aspect-ratio: 1/1.039;
}
.taken__photo-container:hover .taken__image {
  transform: translateY(-37px);
  height: 90.5% !important;
}
.taken__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.taken__image {
  overflow: hidden;
  z-index: 2;
  transition: all 0.5s ease;
}
.taken__additional {
  z-index: 1;
  background-color: #151515;
  color: #c2c2c2;
  padding: 6%;
  padding-right: 34px;
}
.taken__additional > span {
  font-size: 18.1px;
  font-weight: 500;
  padding-bottom: 2px;
}
.taken__likes {
  color: #f06464;
}
.taken__likes svg {
  color: transparent;
  --outline: #f06464;
  cursor: pointer;
  transition: color 0.3s ease;
}
.taken__likes-count {
  font-size: 24px;
  padding-left: 3px;
}

.liked svg {
  color: #f06464;
}

@media screen and (max-width: 1100px) {
  .taken__additional {
    padding: 4%;
  }
  .taken__additional span {
    font-size: 14px;
  }
  .taken__likes svg {
    padding-bottom: 3px;
    padding-top: 5px;
  }
  .taken__likes-count {
    font-size: 21px;
    padding-left: 0;
  }
  .taken__photo-container:hover .taken__image {
    transform: translateY(-18px);
    height: 90.5% !important;
  }
}
@media screen and (max-width: 850px) {
  .taken__title {
    padding-top: 2.1rem;
  }
  .taken__title h1 {
    font-size: 20px;
  }
  .taken__title h2 {
    font-size: 12px;
    width: 270px;
  }
  .taken__photos {
    padding-top: 2.1rem;
  }
}
/* download */
.download {
  background-color: #de5d5d;
  padding: 10.7rem 0;
}
.download__logo {
  grid-column: 1/6;
}
.download__image {
  position: relative;
  margin: 0 29px 25px 0;
}
.download__image img {
  position: relative;
  z-index: 2;
}
.download__image::after {
  content: "";
  width: 90%;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(37deg) translate(35%, -9%);
  border-radius: 29px 0 0 13px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), transparent);
}
.download__info {
  grid-column: 6/-2;
  padding-bottom: 3.9rem;
}
.download__info h1 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -0.4px;
  font-family: "Varela Round";
  color: default;
  line-height: 1.13;
}
.download__info h2 {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.6px;
  font-family: "Varela Round";
  color: default;
}
.download__cta {
  height: 27%;
  row-gap: 1rem;
}
.download__cta button {
  background: rgba(0, 0, 0, 0);
  border: 2px solid white;
  color: black;
  width: 45%;
  height: 100%;
  font-size: 30.6px;
  padding-left: 18px;
  padding-right: 20px;
  border-radius: 5px;
  border-width: 3px !important;
  pointer-events: all;
  mix-blend-mode: lighten;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.download__cta button:hover {
  background-color: white;
  color: black !important;
}
.download__cta button {
  margin-right: 5%;
  padding-left: 16px;
  min-width: 200px;
  max-width: 256.5px;
}
.download__cta button svg {
  padding: 2px 0;
}
.download__cta button div {
  padding-bottom: 0.2rem;
  letter-spacing: -0.3px;
  padding-right: 0.1rem;
}
.download__playstore {
  padding-left: 23px !important;
}
.download__playstore svg {
  padding: 0 !important;
  transform: translateY(2px);
}

@media screen and (max-width: 1150px) {
  .download__cta {
    flex-wrap: wrap;
  }
  .download button {
    font-size: 20px;
    text-wrap: nowrap;
  }
  .download button div {
    padding: 0;
  }
}
@media screen and (max-width: 850px) {
  .download {
    padding: 5rem 0;
  }
  .download__logo, .download__info {
    grid-column: 1/-1;
  }
  .download__info {
    padding: 0;
  }
  .download__info h1 {
    font-size: 30px;
  }
  .download__cta {
    width: 100%;
    justify-content: space-evenly !important;
  }
  .download button {
    height: 90% !important;
    padding: 0 10px !important;
  }
  .download button svg {
    width: 40px;
    height: 40px;
  }
  .download__image {
    width: 170px;
    height: 170px;
  }
  .download__image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}
/* compability */
.compatibility {
  padding-top: 5.15rem;
  padding-bottom: 7.5rem;
}
.compatibility__title {
  grid-column: 2/-2;
  font-size: 25px;
  letter-spacing: 0.4px;
  border-bottom: 2px solid #cbcbcb;
  padding-bottom: 17px;
  color: #666666;
}
.compatibility__iphone {
  grid-column: 2/7;
}
.compatibility__android {
  grid-column: 7/12;
}
.compatibility__android svg {
  margin-top: 10px;
}
.compatibility__android, .compatibility__iphone {
  padding-top: 2rem;
  color: #666666;
}
.compatibility__android h1, .compatibility__iphone h1 {
  font-size: 18px;
  margin-bottom: 0.1rem;
  letter-spacing: 0.7px;
}
.compatibility__android h2, .compatibility__iphone h2 {
  font-size: 16px;
  padding-right: 20px;
  line-height: 1.5;
  margin-bottom: 1.55rem;
  letter-spacing: 0.05px;
}

@media screen and (max-width: 980px) {
  .compatibility__android, .compatibility__iphone {
    grid-column: 2/-2;
  }
}
@media screen and (max-width: 550px) {
  .compatibility svg {
    max-width: 240px;
  }
}
/*# sourceMappingURL=maps/index.css.map */
