@import "partials";

.banner {
  height: 787px;
  background-color: $coral;
  overflow: hidden;

  &__foreground {
    box-shadow: inset 0px -200px 500px $coral;

    &,
    * {
      pointer-events: none;
    }

    .container {
      height: 100%;
      grid-template-rows: 1.1fr 1fr;
    }
  }

  &__text {
    grid-column: 2/12;

    >div {
      @include text-styles(88px, 600, 0.8px, "Montserrat", inherit);
      padding-right: 3px;
      transform: scaleX(0.98);
    }
  }

  &__slider {
    img {
      position: relative;
      transform: scale(1.251);
      padding-top: 233px;
      left: -8px;
    }

    .slick-dots {
      position: absolute;
      transform: translate(-50%);
      left: 50%;
      top: 67.6%;
      display: flex;
      z-index: 3;
      list-style: none;

      button {
        margin: 3.7px;
        border: white 2px solid;
        border-radius: 50%;
        color: transparent;
        background: none;
        height: 12px;
        width: 12px;
      }

      .slick-active button {
        background-color: white;
      }
    }
  }

  &__cta {
    padding-top: 61px;
    padding-left: 12px;
    padding-right: 15px;
    grid-column: 4/10;
    @include button-styles($background-color: none, $border-color: white, $color: black, $width: 257px, $height: 77px, $font-size: 30.2px);

    svg {
      width: 54px;
    }
  }

  &__playstore>svg {
    margin-left: 3px;
    margin-top: 4px;
  }
}

.phone-container {
  @include flex(row, center, center);

  img {
    padding-top: 290px;
    width: 125.1%;
    padding-right: 11px;
  }
}

@include adaptive(1120px) {
  .banner {
    width: 100%;
    aspect-ratio: 16/11;
    height: auto;

    &__slider .slick-dots {
      top: 73%;
    }

    &__text {
      grid-column: 1/13;

      >div {
        font-size: 64px;
      }
    }

    &__cta {
      flex-wrap: wrap;
      justify-content: space-evenly !important;
      grid-column: 1/13;

      button {
        border-width: 2px !important;
        padding: 0 6px;
        height: 58px;
        width: 200px;
        font-size: 25px;
      }

      svg {
        height: 40px;
      }
    }
  }
}

@include adaptive(640px) {
  .banner__text>div {
    font-size: 44px;
  }
}

@include adaptive(570px) {
  .banner {
    aspect-ratio: 0;
    height: 392px;

    &__text>div {
      font-size: 28px;
    }

    &__cta {
      padding-top: 21px;
      padding-bottom: 25px;

      button {
        border: 2px white solid;
        height: 40px;
        font-size: 20px;
        width: 150px;
      }

      svg {
        margin-top: 1px;
        height: 30px;
        width: 35px;
      }
    }

    &__slider {
      height: 100%;

      img {
        transform: scale(2);
        padding-top: 0;
        margin: 0 50px;
      }

      .slick {

        &-list {
          padding-top: 110px;
        }

        &-dots {
          position: absolute;
          top: 90%;
        }
      }

    }

    &__background {
      height: 100%;
    }
  }
}