@import "partials";

.compatibility {
  padding-top: 5.15rem;
  padding-bottom: 7.5rem;

  &__title {
    grid-column: 2/-2;
    font-size: 25px;
    letter-spacing: 0.4px;
    border-bottom: 2px solid #cbcbcb;
    padding-bottom: 17px;
    color: $soft-gray;
  }

  &__iphone {
    grid-column: 2/7;
  }

  &__android {
    grid-column: 7/12;

    svg {
      margin-top: 10px;
    }
  }

  &__android, &__iphone {
    padding-top: 2rem;

    color: $soft-gray;

    h1 {
      font-size: 18px;
      margin-bottom: 0.1rem;
      letter-spacing: 0.7px;
    }

    h2 {
      font-size: 16px;
      padding-right: 20px;
      line-height: 1.5;
      margin-bottom: 1.55rem;
      letter-spacing: 0.05px;
    }
  }
}

@include adaptive(980px) {
  .compatibility{
    &__android, &__iphone {
      grid-column: 2/-2;
    }
  }
}

@include adaptive(550px) {
  .compatibility {
    svg {
      max-width: 240px;
    }
  }
}