@import "partials";

.share {
  height: 735px;
  background-color: $ligth-black;
  overflow: hidden;

  &__phone-slider-wrapper {
    padding-right: 5rem;
    grid-column: span 6;
  }

  &__content {
    grid-column: span 5/12;
    left: -2px;
    padding-bottom: 4rem;

    h1 {
      @include text-styles(46.2px, 600, 0, "Montserrat");
      padding-bottom: 0.8rem;
    }

    h2 {
      @include text-styles(19px, $color: $ligth-gray);
      transform: scaleX(0.95);
      transform-origin: left;
      line-height: 1.4;
      margin-bottom: 0;
    }
  }

  &__slide {
    width: 472px;
    height: 100%;

    &-wrapper {
      height: 96px;
    }

    span {
      width: 269px;
      padding-right: 21px;
      transform: translateY(-4px);
      color: $ligth-gray;
    }
  }

  &__video-button {
    @include text-styles(32px);
    background-color: $coral;
    width: 171px;
    font-size: 32px;
    margin: 1px;
    border-radius: .28rem;
    
    &_padding {
      padding: 0 0.7rem;
    }
  }

  &__slider {

    position: relative;

    .slick {
      &-track {
        @include flex;
      }

      &-list {
        overflow: hidden;
      }

      &-dots {
        @include flex;
        position: absolute;
        list-style: none;
        top: 143%;
        left: 2px;

        li {
          button {
            margin-right: 7px;
            border: white solid 2px;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            color: transparent;
            background: none;
          }

          &.slick-active {
            button {
              background-color: white;
            }
          }
        }
      }
    }

    &-wrapper {
      width: 472px;
    }
  }
}

@include adaptive(940px) {
  .share {
    height: auto;

    &__phone-slider-wrapper,
    &__content {
      grid-column: 1/-1;

      h1, h2 {
        text-align: center !important;
      }
    }

    &__phone-slider {
      max-width: 400px;
      width: 100%;
      z-index: 1;
      
      &-wrapper {
        height: 398px;
        padding: 0;
        @include flex(row, stretch, center);
        z-index: 2;
      }
    }
    
    &__content {
      background: linear-gradient(0deg, $ligth-black 50%, transparentize($ligth-black, 0.2) 100%);
      box-shadow: 0 -20px 20px 20px transparentize($ligth-black, 0.2);
      position: inherit !important;
      z-index: 2;
    }

    &__slider {
      &-wrapper {
        width: 572px;
      }

      .slick-dots {
        transform: translate(-50%);
        left: 50%;

        li button {
          border-width: 1px;
        }
      }
    }

    &__slide {
      width: 100%;
      padding: 0 10%;

      span {
        width: 50%;
        font-size: 0.85rem;
      }
    }
  }
}

@include adaptive(595px) {
  .share {
    &__content {
      h1 {
        font-size: 32px;
        padding-bottom: 0.6rem;
      }
    
      h2 {
        font-size: 16px;
        padding-bottom: 2rem !important;
      }
    }

    &__slider-wrapper {
      width: 340px;
    }

    &__slide {
      padding: 0;
    
      span {
        padding: 0;
        width: 200px;
        font-size: 12px;
      }
    
      &-wrapper {
        height: auto;
      }
    }

    &__video-button {
      font-size: 16px;
      width: 120px;
      
      &_padding {
        padding: 0 0.3rem;
      }
    }
  }
}

@include adaptive(420px) {
  .share {
    &__slider-wrapper {
      width: 300px !important;
    }

    &__slide span {
      font-size: 11px;
      transform: none;
      width: 160px;
    }
  }
}