@import "partials";

* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

.container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
}

body {
  height: 5000px;
}