@import "partials";

.share {
  &-block {
    height: 735px;
    background-color: $ligth-black;
    overflow: hidden;
  }

  &-phone-slider-wrapper {
    overflow: hidden;
    padding-right: 5rem;
    grid-column: span 6;
  }

  &-content {
    grid-column: span 5/12;
    left: -2px;
    padding-bottom: 4rem;

    h1 {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 46.2px;
      padding-bottom: 0.8rem;
    }

    h2 {
      font-size: 19px;
      transform: scaleX(0.95);
      transform-origin: left;
      line-height: 1.4;
      margin-bottom: 0;
    }
  }
}

.video {

  &-slide {
    width: 472px;
    height: 100%;

    &-wrapper {
      height: 96px;
    }
  }

  &-button {
    background-color: $coral;
    width: 171px;
    font-size: 32px;
    padding: 0 0.7rem !important;
    margin: 1px;
    border-radius: .28rem;
  }

  &-slide span {
    width: 269px;
    padding-right: 21px;
    transform: translateY(-4px);
  }

  &-slider {
    position: relative;

    .slick {
      &-track {
        @include flex;
      }

      &-list {
        overflow: hidden;
      }

      &-dots {
        @include flex;
        position: absolute;
        list-style: none;
        top: 143%;
        left: 2px;

        li {
          button {
            margin-right: 7px;
            border: white solid 2px;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            color: transparent;
            background: none;
          }

          &.slick-active{
            button {
              background-color: white;
            }
          }
        }
      }
    }

    &-wrapper {
      width: 472px !important;
    }
  }
}

@include adaptive(940px) {

  .share-phone-slider-wrapper,
  .share-content {
    grid-column: 1/-1;
  }

  .share {
    &-phone-slider {
      max-width: 400px;
      padding: 0 70px;
      width: 100%;
      z-index: 1;

      &-wrapper {
        height: 300px;
        padding: 0;
        @include flex(row, stretch, center);
        z-index: 2;
      }
    }

    &-content {
      box-shadow: 0 -100px 50px $ligth-black;
      position: inherit !important;
      z-index: 2;
    }

    &-block {
      height: auto;

      .container {
        gap: 10px;
      }
    }
  }

  .video {
    &-slider {
      &-wrapper {
        width: 90% !important;
      }

      .slick-dots {
        transform: translate(-50%);
        left: 50%;

        li button {
          border-width: 1px;
        }
      }
    }

    &-slide {
      width: 100%;
      padding: 0 10%;

      span {
        width: 50%;
      }
    }
  }
}

@include adaptive(595px) {
  .share-content {
    h1 {
      font-size: 32px;
      padding-bottom: 0.6rem;
    }

    h2 {
      font-size: 16px;
      padding-bottom: 2rem !important;
    }
  }

  .video {
    &-slider-wrapper {
      width: 100% !important;
    }

    &-slide {
      padding: 0;

      span {
        padding: 0;
        width: 40%;
        font-size: 12px;
      }

      &-wrapper {
        height: auto;
      }
    }

    &-button {
      padding: 0 0.3rem !important;
      font-size: 16px;
      width: 120px;
    }
  }
}

@include adaptive(420px) {
  .video-slide span {
    font-size: 9px;
  }
}